/*erstellt von: Nick Zetzmann*/

h1 {
  text-align: center;
  color: #000000;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.filter-container {
  width: 250px;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.filter-container h2 {
  margin-bottom: 10px;
}

.filter-group {
  margin-bottom: 20px;
}

.grid-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}


.grid-item {
  background-color: #fafafa;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  text-align: center;
}

.grid-item:hover {
  border: 2px solid #000000;
  cursor: pointer;
}

/*ab hier Darkmode*/
.darkmode-toggle {
  position: absolute;
  top: 150px;
  left: 50px;
  cursor: pointer;
}

.dark-mode h1 {
  color: #f0f0f0;
}

.dark-mode {
  background-color: #121212;
  color: #4b4b4b;
}

.dark-mode .filter-container {
  background-color: #444444;
  color: #f0f0f0;
}

.dark-mode .grid-container {
  border-color: #1e1e1e;
}

.dark-mode .grid-item {
  color: #f0f0f0;
  background-color: #757575;
}

.dark-mode .grid-item:hover {
  border: 2px solid #ded118;
  cursor: pointer;
}