.cart-header {
  display: flex;
  justify-content:space-between;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 0;
}

.checkout-btn {
  width: 30%;

}

.cart-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.cart-item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 6px;
  background: #f3f3f3;
  flex-shrink: 0;
}

.cart-item-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.cart-item-first-line-item-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 4 Spalten: Bild (1fr), Name (1fr), Size (1fr), Preis (1fr), Entfernen-Button (1fr) */
  grid-gap: 1rem; /* Abstand zwischen den Spalten */
  width: 100%;
  align-items: center; /* Vertikale Ausrichtung der Items */
  padding: 0.25rem 0.75rem 0.25rem 1rem; /* top right bottom left */

}

.cart-item-first-line-item-block-multi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Name / Size-Text / Quantity */
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  padding: 0.25rem 0.75rem 0.25rem 1rem; /* top right bottom left */

}


.cart-item-first-line-item-block span {
  font-weight: 500;
  overflow-wrap: break-word; /* Falls der Name zu lang ist, wird er umgebrochen */
}

.cart-item-removeAll-btn {
  padding: 0.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: right;
  width: 100%; /* Vollständige Breite innerhalb der Spalte */
}

.cart-item-removeAll-btn img {
  width: 32px;
  height: 32px;
}

.cart-item-quantity-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
  flex-shrink: 0;
}

.cart-item-quantity-container button {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.cart-item-quantity-container img {
  width: 100%;
  height: 100%;
}

.cart-item-quantity-container span {
  text-align: center;
  display: inline-block;
}

.cart-item input[type="number"] {
  width: 60px;
  padding: 0.4rem;
  margin-right: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart-item button {
  background: none;
  border: none;
  color: #e00;
  font-size: 0.9rem;
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-item-product-view {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item-product-view div {
  display: flex;
  justify-content: space-between;
}
