/* ========== erstellt von: Marvin Kunz ========== */

/* ========== MAIN ========== */
main {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #1a1a1a;
  padding: 1vw;
}


/* ========== SECTION ========== */
section {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #1a1a1a;
  padding: 1vw;
}


/* ========== LISTS ========== */
/* ul,
ol {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #1a1a1a;
  padding: 1vw;
} */


/* ========== HEADINGS ========== */
.Produktüberschrift {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: fit-content;
  margin-left: 0vw;
}

h1,
h2 {
  margin: 0;
}

h3 {
  margin-bottom: 2rem;
}

/* ========== Bewertungsskala ========== */
.firstLine {
  display: inline-flex;
  align-items: center;
}

.firstLine h1{
  margin-right: 10px;
}

.firstLine p {
  margin-bottom: 0rem;
  font-size: 0.7rem;
}

#Bewertungsskala canvas {
  height: 1rem;
  width: auto;
  display: block;
  gap: 0px;
}

/* ========== PICTURES ========== */
.Produktbild {
  display: block;
  width: 40vw;
  height: auto;
  margin-right: 2rem;
}

.Produktbild img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}


/* ========== FLEXBOXES ========== */
.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.top-rigth{ 
  border: 5px solid #f4f3f3;
  border-radius: 20px;
  background-color: #f4f3f3;
  padding: 40px;
}



/* ========== PRICES ========== */
.Preis p:first-of-type {
  margin-top: 3vw;
  margin-bottom: 0vw;
  font-size: 1.75rem;
  font-weight: bold;
  color: #111;
}

.Preis p:nth-of-type(2) {
  color: #111;
  margin-bottom: 3vw;
}


/* ========== SORTENAUSWAHL ========== */
.select-wrapper {
  margin-top: 0vw;
  margin-bottom: 3vw;
}

.select-wrapper p {
  margin: 0vw;
}


/* ========== VERPACKUNGSGRÖSSEN ========== */
.VerpackungsgrößenButtons{
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 1rem; 
}

.VerpackungsgrößenButtons .btn{
  margin: 0px;
  width: 100px;
  height: 60px;
  word-break: break-word;
  white-space: normal; 
  display: flex;                /* für saubere Zentrierung */
  justify-content: center;      /* horizontal zentrieren */
  align-items: center;          /* vertikal zentrieren */
  text-align: center;
}

.Verpackungsgrößen p {
  margin: 0vw;
}


/* ========== VERSAND ========== */
.VersandButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.75rem 1.25rem;
  background-color: rgb(207, 47, 47);
  /* background-color: rgb(249, 249, 234); */
  width: 70%;
}

.VersandButton img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}


/* ========== FAVORITEN ========== */
.FavoritenButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.75rem;
  width: 10%;
}

.FavoritenButton svg {
  width: 20px;
  height: auto;
}


/* ========== PRODUKTINFORMATIONEN (Accordion) ========== */
.accordion {
  position: relative;
  padding-right: 2rem;
  color: #000000;
  background-color: white;
  width: 60vw;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;
flex-grow: 1;
  appearance: none;

  border-radius: 0px;
  border-bottom: 1px solid #ccc;

}


.accordion::after {
  content: '';
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.793 8.293a1 1 0 0 1 1.414 0L12 15.086l6.793-6.793a1 1 0 1 1 1.414 1.414l-7.5 7.5a1 1 0 0 1-1.414 0l-7.5-7.5a1 1 0 0 1 0-1.414Z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.8s linear;
}

.accordion.active::after {
  transform: translateY(-50%) rotate(180deg); 
}

.accordion:hover {
  background-color: inherit;
}

.panel {
  padding: 0 18px;
  background-color: rgba(244, 243, 243, 0.5);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, padding 0.8s ease-in-out;
  padding-top: 0;
  padding-bottom: 0;
  will-change: max-height;
  width: 60vw;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.panel.open {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.panel table {
  border-collapse: collapse;
  background-color: transparent;
}

.panel table th,
.panel table td {
  padding: 0.5rem;
  border: none;
  font-weight: normal;
  background-color: #f4f3f3;
}

.panel table tr:nth-child(odd){
  background-color: lightgrey;
}

.panel table thead th {
  background-color: rgba(244, 243, 243, 0.5); 
  font-weight: bold;

} 

ul, ol {
  background-color: transparent;
  margin-left: 2rem;
}

/* ========== TOPPIC ========== */
header img {
  width: 100%;
  height: 800px;
  margin: 0;
}

.ProduktinformationKlBild {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.Produktinformationen {
  flex: 2;
}

.klBild {
  flex: 1;
  position: sticky;
  top: 80px;
  align-self: flex-start;
}

.klBild img {
  width: 100%;
  height: auto;
  display: block;
}


.btn-group-Rezeptidee{
  display: flex;
  justify-content: center;  
  gap: 0;  
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.btn-group-Rezeptidee button {
  width: 13vw; 
  height: auto;
  flex: 1; 
  float: left; 
  border-radius: 0px;
}

.btn-group-Rezeptidee button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group-Rezeptidee button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-group-Rezeptidee button:nth-child(2){
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
}

.btn-group-Rezeptidee:after {
  content: "";
  clear: both;
  display: table;
}

.ProduktbildAuswahl{
  display: flex;
  flex-direction: column;
}

.ProduktbildAuswahl img{
  width: 100px;
  height: 130px;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.3;
}

.ProduktbildAuswahl img:first-of-type{
  opacity: 0.8;
}

.top-left{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
 