/* ========== erstellt von: Marvin Kunz ========== */

/* ========== MAIN ========== */
main {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #1a1a1a;
  padding: 1vw;
}


/* ========== SECTION ========== */
section {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #1a1a1a;
  padding: 1vw;
}


/* ========== LISTS ========== */
ul,
ol {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #1a1a1a;
  padding: 1vw;
}


/* ========== HEADINGS ========== */
.Produktüberschrift {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: fit-content;
  margin-left: 0vw;
}

h1,
h2 {
  margin: 0;
}

h3 {
  margin-bottom: 2rem;
}


/* ========== PICTURES ========== */
.Produktbild {
  display: block;
  width: 40vw;
  height: auto;
  margin-right: 2rem;
}

.Produktbild img {
  width: 100%;
  height: auto;
}


/* ========== FLEXBOXES ========== */
.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
}


/* ========== PRICES ========== */
.Preis p:first-of-type {
  margin-top: 3vw;
  margin-bottom: 0vw;
  font-size: 1.75rem;
  font-weight: bold;
  color: #111;
}

.Preis p:nth-of-type(2) {
  color: #111;
  margin-bottom: 3vw;
}


/* ========== SORTENAUSWAHL ========== */
.select-wrapper {
  margin-top: 0vw;
  margin-bottom: 3vw;
}

.select-wrapper p {
  margin: 0vw;
}


/* ========== VERPACKUNGSGRÖSSEN ========== */
.Verpackungsgrößen p {
  margin: 0vw;
}


/* ========== VERSAND ========== */
.VersandButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.75rem 1.25rem;
  background-color: rgb(207, 47, 47);
}

.VersandButton img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}


/* ========== FAVORITEN ========== */
.FavoritenButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.75rem;
}

.FavoritenButton img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}


/* ========== PRODUKTINFORMATIONEN (Accordion) ========== */
.accordion {
  color: #000000;
  background-color: white;
  width: 100%;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;

  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.793 8.293a1 1 0 0 1 1.414 0L12 15.086l6.793-6.793a1 1 0 1 1 1.414 1.414l-7.5 7.5a1 1 0 0 1-1.414 0l-7.5-7.5a1 1 0 0 1 0-1.414Z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem;

  border-radius: 0px;
  border-bottom: 1px solid #ccc;
}

.accordion:hover {
  background-color: lightgray;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}