/* ========== erstellt von: Marvin Kunz ========== */

:root {
  --color-button: white;
  --color-button-border: #ffc356;
  --color-button-selected: rgba(255, 195, 86, 0.75);
}

/* ========== MAIN ========== */
main {
  font-size: 16px;
  padding: 1vw;
}


/* ========== SECTION ========== */
section {
  padding: 1vw;
}


/* ========== FLEXBOXES (TOP) ========== */
.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  /* align-items: flex-start; */
}

.top-rigth {
  border-radius: 20px;
  background-color: #f4f3f3;
  padding: 25px;
}

.top-left {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

/* ========== PICTURES ========== */
.ProduktbildAuswahl {
  display: flex;
  flex-direction: column;
}

.ProduktbildAuswahl img {
  width: 100px;
  height: 130px;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.3;
}

.ProduktbildAuswahl img:first-of-type {
  opacity: 0.8;
}

.Produktbild {
  width: 40vw;
  height: auto;
}

.Produktbild img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}


/* ========== HEADINGS ========== */
h2 {
  margin: 0;
}


/* ========== Bewertungsskala ========== */
.firstLine {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.firstLine p {
  margin-bottom: 0rem;
  font-size: 0.7rem;
}

#Bewertungsskala canvas {
  height: 1rem;
  display: block;
}


/* ========== SORTENAUSWAHL ========== */
.select-wrapper {
  margin-top: 0vw;
  margin-bottom: 3vw;
}

.select-wrapper p {
  margin: 0vw;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  padding: 0.75rem 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;

  border: 2px solid var(--color-button-border);
  border-radius: 1.5rem;
  
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.793 8.293a1 1 0 0 1 1.414 0L12 15.086l6.793-6.793a1 1 0 1 1 1.414 1.414l-7.5 7.5a1 1 0 0 1-1.414 0l-7.5-7.5a1 1 0 0 1 0-1.414Z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem;
}

.select-wrapper select:focus-visible{
    border: 2px solid var(--color-button-border);
    outline: none !important; 
}

/* funktioniert nur beschränkt, Browserabhängig*/
select option {
  background-color: white;
  color: var(--color-button-text);
  border: 2px solid var(--color-button-border);
  padding: 0.5rem;
}


/* ========== VERPACKUNGSGRÖSSEN ========== */
.Verpackungsgrößen p {
  margin: 0vw;
}

.VerpackungsgrößenButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 90%;
}

.VerpackungsgrößenButtons .btn {
  margin: 0px;

  display: flex;
  justify-content: center;
  background-color: var(--color-button);
  border: 2px solid var(--color-button-border);
}

.VerpackungsgrößenButtons .btn.active {
  background-color: var(--color-button-selected);
}

.VerpackungsgrößenButtons .btn:not(.active):hover {
  background-color: var(--color-button-hover);
  border: 2px solid var(--color-button-hover);
}


/* ========== PRICES ========== */
.Preis #priceWTax {
  margin-top: 3vw;
  margin-bottom: 0vw;
  font-size: 1.75rem;
  font-weight: bold;
}

.Preis #pricePerKgOutput{
  margin-bottom: 3vw;
}


/* ========== VERSAND + FAVORITEN ========== */
.VersandFavoriten {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

/* ========== VERSAND ========== */
.VersandButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 70%;
  margin-top: 0rem;
}

.VersandButton {
  background-color: var(--color-button-border);
}

.VersandButton img {
  width: 20px;
  height: 20px;
}

/* ========== FAVORITEN ========== */
.FavoritenButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.75rem;
  width: 10%;
}

.FavoritenButton svg {
  width: 20px;
  height: auto;
}

.FavButton {
  height: 1.85rem;
}

/* ========== PRODUKTINFORMATIONEN + KLEINES BILD ========== */
.ProduktinformationKlBild {
  display: flex;
  gap: 2rem;
}


/* ========== PRODUKTINFORMATIONEN (Accordion) ========== */
.accordion {
  position: relative;
  padding-right: 2rem;
  background-color: white;
  width: 60vw;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;
  appearance: none;

  border-radius: 0px;
  border-bottom: 1px solid #ccc;
}

.accordion::after {
  content: '';
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.793 8.293a1 1 0 0 1 1.414 0L12 15.086l6.793-6.793a1 1 0 1 1 1.414 1.414l-7.5 7.5a1 1 0 0 1-1.414 0l-7.5-7.5a1 1 0 0 1 0-1.414Z"/></svg>');
  transition: transform 0.8s linear;
}

.accordion.active::after {
  transform: translateY(-50%) rotate(180deg);
}

.accordion:hover {
  background-color: inherit;
}


/* ========== PRODUKTINFORMATIONEN (Panel) ========== */
.panel {
  padding: 0 18px;
  background-color: rgba(244, 243, 243, 0.5);
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, padding 0.8s ease-in-out;
  width: 60vw;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  max-height: 0;
  will-change: max-height;
}

.panel.open {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* max-height: 2000px; */
}

.panel table th,
.panel table td {
  padding: 0.5rem;
  background-color: #f4f3f3;
}

.panel table thead th {
  background-color: lightgray;
}


/* ========== PRODUKTINFORMATIONEN (Article) ========== */
.ProduktinformationKlBild article:not(:first-of-type) h4 {
  margin-top: 2rem;
}

.ProduktinformationKlBild article h5 {
  margin-bottom: 0rem;
}

.ProduktinformationKlBild article h5:nth-of-type(2) {
  margin-top: 2rem;
}

.ProduktinformationKlBild article ul,
.ProduktinformationKlBild article ol {
  margin-left: 2rem;
  padding: 1vw;
}


/* ========== PRODUKTINFORMATIONEN (Rezeptideen) ========== */
.btn-group-Rezeptidee {
  width: fit-content;
  margin: 0 auto;
}

.btn-group-Rezeptidee button {
  width: 13vw;
  height: auto;
  float: left;
  border-radius: 0px;
  background-color: var(--color-button);
}

.btn-group-Rezeptidee button:first-child {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-left: 2px solid var(--color-button-border);
  border-top: 2px solid var(--color-button-border);
  border-bottom: 2px solid var(--color-button-border);
}

.btn-group-Rezeptidee button:nth-child(2){
  border-top: 2px solid var(--color-button-border);
  border-bottom: 2px solid var(--color-button-border);
}

.btn-group-Rezeptidee button:last-child {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-right: 2px solid var(--color-button-border);
  border-top: 2px solid var(--color-button-border);
  border-bottom: 2px solid var(--color-button-border);
}

.btn-group-Rezeptidee button.active {
  background-color: var(--color-button-selected);
}

.btn-group-Rezeptidee button:not(.active):hover {
  background-color: var(--color-button-hover);
  border: 2px solid var(--color-button-hover);
}

.btn-group-Rezeptidee:after {
  content: "";
  clear: both;
  display: table;
}


/* ========== KLEINES BILD ========== */
.klBild {
  position: sticky;
  top: 80px;
  align-self: flex-start;
}

.klBild img {
  width: 100%;
  height: auto;
  display: block;
}


/* ========== provisorisch eingefügte Bild am oberen Rand ========== */
header img {
  width: 100%;
  height: 800px;
  margin: 0;
}