/**
@author: Felix Bartel, Marzan Köse (Cart-Promo), Marvin Kunz (Timer, Darkmode)
**/


.cart-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  align-items: center;
}

h2 {
  margin-bottom: 0;
}

.checkout-btn {
  width: 100%;
  height: 80%;
  margin: 0;
}

.removeAllBtn {
  padding: 0.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  justify-self: end;
  width: 48px;
  margin: 0;
}

.removeAllBtn img {
  width: auto;
  height: 56px;
  justify-content: right;

}


.cart-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.cart-item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 6px;
  background: #f3f3f3;
  flex-shrink: 0;
}

.cart-item-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.cart-item-first-line-item-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* 4 Spalten: Bild (1fr), Name (1fr), Size (1fr), Preis (1fr), Entfernen-Button (1fr) */
  grid-gap: 1rem;
  /* Abstand zwischen den Spalten */
  width: 100%;
  align-items: center;
  /* Vertikale Ausrichtung der Items */
  padding: 0.25rem 0.75rem 0.25rem 1rem;
  /* top right bottom left */

}

.cart-item-first-line-item-block-multi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* Name / Size-Text / Quantity */
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  padding: 0.25rem 0.75rem 0.25rem 1rem;
  /* top right bottom left */

}


.cart-item-first-line-item-block span {
  font-weight: 500;
  overflow-wrap: break-word;
  /* Falls der Name zu lang ist, wird er umgebrochen */
}

.cart-item-remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Vollständige Breite innerhalb der Spalte */
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.cart-item-remove-btn img {
  width: 32px;
  height: 32px;
  justify-content: center;
}

.cart-item-quantity-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
  flex-shrink: 0;
}

.cart-item-quantity-container button {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.cart-item-quantity-container img {
  width: 100%;
  height: 100%;
}

.cart-item-quantity-container span {
  text-align: center;
  display: inline-block;
}

.cart-item input[type="number"] {
  width: 50px;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;

  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.cart-item-quantity-input::-webkit-outer-spin-button,
.cart-item-quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item button {
  background: none;
  border: none;
  color: #e00;
  font-size: 0.9rem;
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-item-product-view {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item-product-view div {
  display: flex;
  justify-content: space-between;
}

.cart-promo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 0;
  margin-bottom: 32px;
}

.cart-promo input {
  border-radius: 1.5rem;
  border: 1px solid #eee;
  font-size: 1.1rem;
  height: 50px;
  width: 400px;
}

#promoCode::placeholder {
  padding-left: 10px;
}

.cart-promo button {
  margin: 0;
  height: 50px;
  width: 200px;
  background-color: white;
  border: 2px solid #ffc356;
}

.timerSection {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.timerSection div {
  visibility: hidden;
}

/* ============================== */
/*            Darkmode            */
/* ============================== */
body.dark-mode .cart-item {
  background-color: #202020;
}

body.dark-mode .removeAllBtn,
body.dark-mode .cart-item-remove-btn,
body.dark-mode .cart-item-quantity-container button {
  background-color: transparent;
}

body.dark-mode .cart-item-quantity-container img {
  filter: invert(1);
}

body.dark-mode .cart-promo button {
  background-color: white;
  border: 2px solid #ffc356;
}

body.dark-mode .cart-item input[type="number"] {
  border: 1px solid #ccc;
  background-color: transparent;
  color: white;
}