/**
 * ========================================
 * CSS Layout für Datenschutzerklärung
 * Author: Felix Bartel
 */



.content-wrapper {
  padding-top: 120px;
  padding-bottom: 5rem;

}


h1, h2, h3, h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.25rem;
}


p, ul, address {
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.25rem;
  list-style-type: disc;
}

a:hover,
a:focus {
  text-decoration: underline;
}
