/*erstellt von: Nick Zetzmann*/

h1 {
  text-align: center;
  color: #000000;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 Spalten --> Erweiterbarkeit hier*/
  grid-template-rows: repeat(4, auto);   /* 4 Reihen */
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid-item {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}

.grid-item:hover {
  color: #007BFF;
  cursor: pointer;
}
