<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Footer</title>
  <link rel="stylesheet" href="footer.css" />
</head>
<body>
  <section class="footer-subscribe">
    <div class="container">
      <div class="footer-form">
        <form class="footer-form-container" method="get">
          <div class="footer-form-title">Jetzt Newsletter abonnieren</div>
          <div class="footer-form-block">
            <input class="footer-form-input" type="email" placeholder="E-Mail eingeben" required />
            <input type="submit" class="footer-form-button" value="Jetzt bestellen" />
          </div>
        </form>
        <div class="form-success" style="display: none;">Danke! Deine Anmeldung geht bei uns ein!</div>
        <div class="form-error" style="display: none;">Oh! Hier ist etwas schiefgelaufen!</div>
      </div>

      <div class="footer-wrapper">
        <div class="footer-links">
          <a href="#">About</a>
          <a href="#">Proteinpulver</a>
          <a href="#">Proteinriegel</a>
          <a href="#">FAQ</a>
          <a href="#">Kontakt</a>
        </div>
        <div class="footer-social">
          <a href="#"><img src="../../images/facebook.png" alt="Facebook" /></a>
          <a href="#"><img src="../../images/youtube.png" alt="youtube" /></a>
          <a href="#"><img src="../../images/instagram.png" alt="instagram" /></a>
          <a href="#"><img src="../../images/tiktok.png" alt="tiktok" /></a>
        </div>
      </div>

      <div class="footer-divider"></div>
      <div class="footer-bottom">
        <div class="footer-copyright">© 2025 EXTREM PERFORMANCE NUTRITION. All rights reserved</div>
        <div class="footer-legal">
          <a href="#">Datenschutz</a>
          <a href="#">Impressum</a>
        </div>
      </div>
    </div>
  </section>
  <script src="footer.js"></script>
</body>
</html>
