<!-- Author: Nick Zetzmann 
Beschreibung: Reine HTML-Datei, zur Erfüllung der Prüfungsvorgaben, keine Verwendung auf der Website -->

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>XPN | Proteinpulver</title>
</head>
<body>

  <h1 align="center">Unser Proteinpulver</h1>

  <table width="100%">
    <tr>
      <td align="center" width="25%">
        <a href="110001.html">
          <img src="../images/choco_whey.jpeg" alt="Choco" width="200"><br>
          Whey Protein Choco
        </a><br>
        21,00 € / 500g
      </td>
      <td align="center" width="25%">
        <a href="strawberry_whey.html">
          <img src="../images/strawberry_whey.jpg" alt="Strawberry"><br>
          Whey Protein Strawberry
        </a><br>
        21,00 € / 500g
      </td>
      <td align="center" width="25%">
        <a href="vanilla_whey.html">
          <img src="../images/vanilla_whey.jpg" alt="Vanilla"><br>
          Whey Protein Vanilla
        </a><br>
        21,00 € / 500g
      </td>
      <td align="center" width="25%">
        <a href="caramel_whey.html">
          <img src="../images/caramel_whey.jpg" alt="Vanilla"><br>
          Whey Protein Caramel
        </a><br>
        21,00 € / 500g
      </td>
    </tr>
  </table>

</body>
</html>